body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}
h1 {
    font-size: 80px;
    color: #0055aa;
}

p {
    font-size: 24px;
    margin: 20px;
}

a {
    padding: 10px 20px;
    background-color: #0055aa;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

a:hover {
    background-color: #003377;
}