body {
    margin: 0;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(255, 255, 255)
}
.frsy{
    text-align: center;
}
.fff{
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.571);
}
